.example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: left;
}

.example-header h1 {
    color: #FFF;
    font-weight: 300;
    margin-bottom: 20px;
}

.example-header p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.container-fluid .row {
    padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
    background: #F1F4F5;
}

.example-title {
    text-align: left;
    margin-bottom: 0px;
    padding: 1em 0;
    border-bottom: 1px solid #c7d4d8;
}

.example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
    display: inline;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    line-height: normal;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-content p:last-child {
    margin-bottom: 0;
}

.period .timeline-title {
    margin: 0;
}

.timeline-split .timeline,
.timeline-centered .timeline {
    display: table;
}

.timeline-split .timeline-item,
.timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
}

.timeline-split .timeline-info,
.timeline-centered .timeline-info,
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
}

.timeline-split .timeline-marker,
.timeline-centered .timeline-marker {
    position: relative;
}

.timeline-split .timeline-content,
.timeline-centered .timeline-content {
    padding-left: 30px;
}

.timeline-split .timeline-info,
.timeline-centered .timeline-info {
    padding-right: 30px;
}

.timeline-split .period .timeline-title,
.timeline-centered .period .timeline-title {
    position: relative;
    left: -115px;
}

.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}
